alembic==1.4.2
backcall==0.1.0
boto3==1.12.37
botocore==1.15.37
cchardet==2.1.5
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
colorama==0.4.3
coloredlogs==14.0
contextlib2==0.6.0.post1
cx-Oracle==7.3.0
cycler==0.10.0
dagster==0.7.6
datapackage==1.13.0
decorator==4.4.2
docutils==0.15.2
et-xmlfile==1.0.1
Faker==4.0.2
funcsigs==1.0.2
future==0.18.2
GDX2py==2.0.4
gdxcc==7.28.20
gevent==1.4.0
graphviz==0.13.2
greenlet==0.4.15
humanfriendly==8.1
idna==2.9
ijson==3.0
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
isodate==0.6.0
jdcal==1.4.1
jedi==0.16.0
jmespath==0.9.5
jsonlines==1.2.0
jsonpointer==2.0
jsonschema==2.6.0
jupyter-client==5.3.1
jupyter-core==4.6.3
kiwisolver==1.2.0
linear-tsv==1.1.0
Mako==1.1.2
MarkupSafe==1.1.1
matplotlib==3.2.0
networkx==2.4
numpy==1.18.2
openpyxl==3.0.3
pandas==1.0.3
parso==0.6.2
pathtools==0.1.2
pickleshare==0.7.5
prompt-toolkit==3.0.5
psutil==5.7.0
psycopg2==2.8.5
pycparser==2.20
Pygments==2.6.1
PyMySQL==0.9.3
pyodbc==4.0.30
pyparsing==2.4.7
pyreadline==2.1
pyrsistent==0.16.0
PySide2==5.11.2
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2019.3
pywin32==227
PyYAML==5.3.1
pyzmq==19.0.0
qtconsole==4.7.2
QtPy==1.9.0
requests==2.23.0
rfc3986==1.3.2
Rx==1.6.1
s3transfer==0.3.3
scipy==1.4.1
six==1.14.0
SQLAlchemy==1.3.7
tableschema==1.15.3
tabulator==1.38.1
text-unidecode==1.3
toposort==1.5
tornado==6.0.4
traitlets==4.3.3
unicodecsv==0.14.1
urllib3==1.25.8
watchdog==0.10.2
wcwidth==0.1.9
xlrd==1.2.0

git+https://github.com/Spine-project/Spine-Database-API.git@2077fc8b01a018e3e7f13c2fcf7071e820971dbb#egg=spinedb_api
git+https://github.com/Spine-project/spine-engine.git@0.4.0#egg=spine_engine
git+https://github.com/Spine-project/Spine-Toolbox@0.4.0-final.0#egg=spinetoolbox
